body { background:#111; color:white; font-family:Arial; padding:10px }
.product { background:#222; padding:15px; margin-bottom:10px }
button { padding:10px; width:100%; background:#ff3c00; color:white; border:none }
